.Article {
  border: 1px solid #efefef;
  background-color: #ffffff;
  width: 614px;
  margin-bottom: 60px;
  header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    .id-dots {
      width: 534px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .feed-img {
    width: 612px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .feed-bottom {
    .icons-container {
      width: 612px;
      height: 40px;
      padding: 0px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-icons {
        display: flex;
        .left-icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      .right-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    .likes-count {
      height: 18px;
      margin: 8px 0px;
      padding: 0px 16px;
      font: {
        size: 14px;
        weight: 700;
      }
    }
    .feed-content {
      width: 614px;
      padding: 0px 16px;
      font-size: 14px;
      line-height: 18px;
      .id {
        font-weight: 800;
        margin-right: 5px;
      }
    }
    .see-comments {
      margin: 5px 0;
      padding: 0 16px;
      font-size: 14px;
      color: #999999;
    }
    .comments-container {
      margin-bottom: 5px;
      padding: 0 16px;
      .comment {
        margin: 2px 0;
        .id {
          font-weight: 800;
          margin-right: 5px;
          font-size: 14px;
          line-height: 18px;
        }
        .comment-content {
          font-size: 14px;
        }
      }
    }
    .comment-input-container {
      width: 614px;
      height: 56px;
      padding: 0px 16px;
      border-top: 1px solid #efefef;
      display: flex;
      align-items: center;
      justify-content: space-between;
      textarea {
        width: 90%;
        height: 17px;
        margin: 0px;
        padding: 0px;
        line-height: 18px;
        font-size: 14px;
        color: #262626;
        border: 0;
        resize: none;
        &:focus {
          outline: none;
        }
      }
      button {
        font-weight: 600;
        font-size: 14px;
        color: #3897f0;
        border-style: none;
        text-align: center;
        padding: 0;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
      .submitNotYet {
        opacity: 0.3;
      }
      .submitReady {
        opacity: 1;
      }
    }
  }
}
