* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: rgb(250, 250, 250);
}

#text {
    width: 20;
}


/* media-query */

.hidden-story {
    display: none;
    width: 614px;
    height: 104px;
    margin: 100px auto 24px;
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, .0975);
}

.hidden-story-item-container {
    width: 594px;
    height: 84px;
    border: 0;
    display: flex;
}

.hidden-story-item {
    width: 84px;
    height: 84px;
    padding: 2px;
    margin: 0;
}

.hidden-story-item-img-container {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.hidden-story-item-img {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -30.5px;
    top: 50%;
    margin-top: -30.5px;
    border: 2px solid #ffffff;
}

.hidden-story-item-username {
    width: 66px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin: 3px auto 0px auto;
    color: #262626;
    overflow: hidden;
    text-align: center;
}

@media(max-width: 1100px) {
    .hidden-story {
        display: block;
    }
    #main-right {
        display: none;
    }
    #main {
        margin-top: 0px;
    }
    #main-container {
        padding-top: 0;
        margin: 0 auto;
    }
    .feeds {
        margin: 0px auto;
    }
}

@media(min-width: 1100px) {
    #main-container {
        padding: 60px 0px 0px;
    }
    #main {
        margin-top: 77px;
    }
}


/* nav */

#nav {
    height: 77px;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    position: fixed;
    align-items: center;
    z-index: 5;
}

.nav-items-container {
    display: flex;
    max-width: 1010px;
    height: 77px;
    align-items: center;
    padding: 26px 20px;
    margin: 0px auto;
}

.nav-left-items {
    display: flex;
    margin-right: auto;
}

#nav-logo {
    height: 24px;
    width: 24px;
}

#nav-logo-line {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}

#nav-text-logo {
    height: 29px;
    width: 103px;
}

#search-container {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, .0975);
    border-radius: 3px;
}

#search-input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
    background-color: transparent;
    text-align: center;
}

#search-ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

#search-ul li {
    width: 100%;
    height: 30px;
    text-align: center;
    border-left: 0.5px solid rgb(240, 235, 235);
    border-right: 0.5px solid rgb(240, 235, 235);
    border-bottom: 0.5px solid rgb(240, 235, 235);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    color: black;
}

#search-ul li:hover {
    background-color: #eee;
    cursor: pointer;
}

.nav-right-items {
    display: flex;
    margin-left: auto;
}

.nav-right-item {
    margin-left: 30px;
}

#nav-search {
    width: 24px;
    height: 24px;
}

#nav-heart {
    width: 24px;
    height: 24px;
}

#nav-profile {
    width: 24px;
    height: 24px;
}

#main {
    margin-top: 77px;
}

#main-container {
    display: flex;
    max-width: 935px;
    margin: 0px auto;
}

.feeds {
    border: 1px solid #efefef;
    background-color: #ffffff;
    width: 614px;
}

.feed-top {
    width: 614px;
    height: 60px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.feed-top-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.feed-top-id-dots {
    width: 534px;
    height: 18px;
    margin: 0px 0px 0px 16px;
    display: flex;
}

.feed-top-id {
    width: 82.39px;
    height: 17px;
    margin-right: auto;
}

.feed-top-dots {
    margin-left: auto;
    width: 24px;
    height: 17px;
    text-align: center;
    position: relative;
}

.feed-top-dots-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.feed-img {
    width: 612px;
    /* height: 409.33px; */
}

.feed-button-container {
    width: 612px;
    height: 40px;
    margin: 4px 0px 0px 0px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.feed-button-left-container {
    margin-right: auto;
    margin-left: -8px;
    display: flex;
}

.feed-button-left {
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
}

.feed-button-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
}

.feed-button-right {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: -8px;
    align-items: center;
    vertical-align: middle;
    position: relative;
}

#feed-save-button {
    width: 22px;
    padding-left: 2px;
}

.likes-count {
    height: 17.78px;
    margin: 0px 0px 8px 0px;
    padding: 0px 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}

.feed-content-container {
    width: 614px;
    height: 54px;
    padding: 0px 16px;
    font-size: 14px;
    line-height: 18px;
}

.feed-content-id {
    font-weight: 800;
    margin-right: 5px;
}

.comments-count-seeAll {
    margin: 2px 0;
    font-size: 14px;
    color: #999999;
    padding: 0 16px;
}

.comments-container {
    width: 614px;
    height: 54px;
    padding: 9px 16px;
    font-size: 14px;
    line-height: 18px;
}

.comment-ul {
    padding: 0 16px;
    margin: 1px 0;
}

.comment {
    margin-bottom: 2px;
    margin: 1px 16px;
}

.commentUserID {
    font-weight: 800;
    margin-right: 5px;
    font-size: 14px;
    line-height: 18px;
}

.commentComment {
    font-size: 14px;
    line-height: 18px;
}

.comment_content {
    font-size: 14px;
    display: inline-block;
}

.uploadTime {
    width: 614px;
    height: 19px;
    padding: 0px 0px 0px 16px;
    margin: 0px 0px 4px 0px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: .2px;
    color: #999;
}

.comment-input-container {
    width: 614px;
    height: 56px;
    padding: 19.5px 16px;
    margin: 4px 0px 0px;
    border-top: 1px solid #efefef;
    display: flex;
}

#comment-input {
    width: 550px;
    height: 17px;
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    font-size: 14px;
    color: #262626;
    border: 0;
    resize: none;
}

#comment-input:hover {
    outline: 0px !important;
    box-shadow: none;
    border: none;
}

#comment-submmit-button {
    width: 24.24px;
    height: 17.78px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    color: #3897f0;
    border-style: none;
    text-align: center;
    padding: 0;
    opacity: 0.3;
}

#comment-submmit-button:hover {
    cursor: pointer;
}

#main-right {
    width: 293px;
    margin-left: 28px;
}

#main-right-profile {
    width: 293px;
    height: 62px;
    background-color: rgb(250, 250, 250);
    display: flex;
}

#main-right-profile-img-container {
    width: 60px;
    height: 60px;
    align-items: center;
    position: relative;
}

#main-right-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#main-right-name-container {
    margin-left: 14px;
    padding: 12px 0px;
}

#main-right-username {
    font-size: 14px;
    color: #262626;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 2px;
}

#main-right-name {
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.main-right-box-top {
    margin: 12px 0px 0px;
    padding: 4px 16px;
    width: 291px;
    height: 19px;
    display: flex;
}

.main-right-box-title {
    margin-right: auto;
    color: #999999;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
    font-weight: 500;
}

.main-right-box-seeAll {
    margin-left: auto;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
}

#main-right-story-box {
    width: 293px;
    height: 223px;
    margin: 4px 0px 0px;
    background-color: #ffffff;
    border: 1px solid rgb(230, 230, 230);
}

.main-right-story-item {
    display: flex;
    width: 275.02px;
    height: 52px;
    margin-left: auto;
    padding: 4px 0px;
}

.main-right-story-item-img-container {
    width: 44px;
    height: 44px;
    position: relative;
    margin: 0;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.main-right-story-item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.main-right-story-item-username-time-container {
    width: 215.04px;
    height: 33.77px;
    margin: 5px 0px 5px 14px;
    padding: 1.9px 0px;
}

.main-right-story-item-username {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 2px;
}

.main-right-story-item-time {
    font-size: 10px;
    line-height: 12px;
    color: #999;
}

#main-right-recommendation-box {
    width: 293px;
    height: 197px;
    margin: 12px 0px;
    background-color: #ffffff;
    border-color: #efefef;
    border: 1px solid rgb(230, 230, 230);
}

.main-right-recommendation-item {
    display: flex;
    width: 275.02px;
    height: 52px;
    margin-left: auto;
    padding: 4px 0px;
}

.main-right-recommendation-profile-img-container {
    width: 44px;
    height: 44px;
    position: relative;
    margin: 0;
}

.main-right-recommendation-profile-img {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, .0975);
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: 50%;
    margin-top: -17px;
}

.main-right-recommendation-name-else-follow-container {
    width: 215.04px;
    height: 33.77px;
    margin: 5px 16px 5px 14px;
    padding: 1.9px 0px;
    display: flex;
}

.main-right-recommendation-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 2px;
}

.main-right-recommendation-else {
    font-size: 12px;
    line-height: 12px;
    color: #999;
}

.main-right-recommendation-follow {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #3897F0;
    margin-left: auto;
    padding: 8.5px 0px;
}

#main-right-aboutInstagram {
    width: 293px;
    height: 106px;
    padding: 0px 0px 38px;
    background-color: rgb(250, 250, 250);
}

#main-right-aboutInstagram-list {
    width: 293px;
    height: 39px;
    margin: 0px 0px 16px;
    padding: 0;
    list-style: none;
}

.aboutInstagram-list-items {
    display: inline;
    color: #C7c7c7;
    font-size: 11px;
    margin: 0;
    padding: 0;
    word-break: keep-all;
}

.aboutInstagram-list-items::after {
    content: " · ";
    font-weight: bold;
    margin: 0px;
}

.aboutInstagram-list-items:last-child::after {
    content: none;
    margin: 0;
}

#copyright {
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}